In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -0.271155  2.440692 -0.474680 -0.296923
2013-01-02  0.486849 -0.837350  0.689640 -0.290780
2013-01-03 -1.449033 -0.732503  0.551999 -0.568912
2013-01-04 -1.988569 -0.564089 -0.847413 -0.295544
2013-01-05 -0.614300  0.580035 -0.345509 -1.345345
2013-01-06  0.091111 -0.642097  2.507524 -0.514559

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [5]:
df.head()

                   A         B         C         D
2013-01-01 -0.271155  2.440692 -0.474680 -0.296923
2013-01-02  0.486849 -0.837350  0.689640 -0.290780
2013-01-03 -1.449033 -0.732503  0.551999 -0.568912
2013-01-04 -1.988569 -0.564089 -0.847413 -0.295544
2013-01-05 -0.614300  0.580035 -0.345509 -1.345345

In [6]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.988569 -0.564089 -0.847413 -0.295544
2013-01-05 -0.614300  0.580035 -0.345509 -1.345345
2013-01-06  0.091111 -0.642097  2.507524 -0.514559

In [7]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.to_numpy()

array([[-0.2711548 ,  2.44069193, -0.47468028, -0.29692347],
       [ 0.48684931, -0.83735037,  0.68964016, -0.29078035],
       [-1.44903309, -0.73250295,  0.55199866, -0.56891207],
       [-1.98856907, -0.56408905, -0.84741302, -0.29554415],
       [-0.6142995 ,  0.58003512, -0.34550932, -1.34534491],
       [ 0.09111094, -0.64209719,  2.50752384, -0.51455915]])

In [10]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.624183  0.040781  0.346927 -0.552011
std    0.939435  1.284651  1.217263  0.407469
min   -1.988569 -0.837350 -0.847413 -1.345345
25%   -1.240350 -0.709902 -0.442388 -0.555324
50%   -0.442727 -0.603093  0.103245 -0.405741
75%    0.000545  0.294004  0.655230 -0.295889
max    0.486849  2.440692  2.507524 -0.290780

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.271155    0.486849   -1.449033   -1.988569   -0.614300    0.091111
B    2.440692   -0.837350   -0.732503   -0.564089    0.580035   -0.642097
C   -0.474680    0.689640    0.551999   -0.847413   -0.345509    2.507524
D   -0.296923   -0.290780   -0.568912   -0.295544   -1.345345   -0.514559

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.296923 -0.474680  2.440692 -0.271155
2013-01-02 -0.290780  0.689640 -0.837350  0.486849
2013-01-03 -0.568912  0.551999 -0.732503 -1.449033
2013-01-04 -0.295544 -0.847413 -0.564089 -1.988569
2013-01-05 -1.345345 -0.345509  0.580035 -0.614300
2013-01-06 -0.514559  2.507524 -0.642097  0.091111

In [15]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02  0.486849 -0.837350  0.689640 -0.290780
2013-01-03 -1.449033 -0.732503  0.551999 -0.568912
2013-01-06  0.091111 -0.642097  2.507524 -0.514559
2013-01-04 -1.988569 -0.564089 -0.847413 -0.295544
2013-01-05 -0.614300  0.580035 -0.345509 -1.345345
2013-01-01 -0.271155  2.440692 -0.474680 -0.296923

In [16]:
df["A"]

2013-01-01   -0.271155
2013-01-02    0.486849
2013-01-03   -1.449033
2013-01-04   -1.988569
2013-01-05   -0.614300
2013-01-06    0.091111
Freq: D, Name: A, dtype: float64

In [17]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.271155  2.440692 -0.474680 -0.296923
2013-01-02  0.486849 -0.837350  0.689640 -0.290780
2013-01-03 -1.449033 -0.732503  0.551999 -0.568912

In [18]:
print(dates[0])
df.loc[dates[0]]

2013-01-01 00:00:00

A   -0.271155
B    2.440692
C   -0.474680
D   -0.296923
Name: 2013-01-01 00:00:00, dtype: float64

In [19]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01 -0.271155  2.440692
2013-01-02  0.486849 -0.837350
2013-01-03 -1.449033 -0.732503
2013-01-04 -1.988569 -0.564089
2013-01-05 -0.614300  0.580035
2013-01-06  0.091111 -0.642097

In [20]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02  0.486849 -0.837350
2013-01-03 -1.449033 -0.732503
2013-01-04 -1.988569 -0.564089

In [21]:
df.loc[dates[0], "A"]

-0.2711547957043029

In [22]:
print("Среднее значение для каждого столбца")
df.mean()

Среднее значение для каждого столбца

A   -0.624183
B    0.040781
C    0.346927
D   -0.552011
dtype: float64

In [23]:
df.mean(axis=1)

2013-01-01    0.349483
2013-01-02    0.012090
2013-01-03   -0.549612
2013-01-04   -0.923904
2013-01-05   -0.431280
2013-01-06    0.360495
Freq: D, dtype: float64

In [24]:
df = pd.DataFrame({"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [25]:
df.loc[df.AAA >= 5, "BBB"] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [26]:
df.loc[df.AAA >= 5, ["BBB", "CCC"]] = 555
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555